/.phpunit.cache
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
public/Отчёт_17_11_2024-194321.xlsx
public/План_17_11_2024-194925.xlsx
public/~$нормы планирования 01.11.2024.xlsx
public/~$БЛАНК  НА ВАРКУ  от 17.08.2022.xlsx
public/~$План_23_12_2024-193506.xlsx
/.npm
/.cache
products_order.sql
ps.zip
